<html>
  <head> 
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>


        {% block page_title %}This is Health-Doc-Pat APP{% endblock %}
  

        </title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:500' rel='stylesheet' type='text/css'>
         {% load staticfiles %}
        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
        <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %} rel="stylesheet">
    <!--external css-->
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css"/>

    <link href="{% static "js/gritter/css/jquery.gritter.css" %} rel="stylesheet" type="text/css"/>
    <link href="{% static "lineicons/style.css" %} rel="stylesheet" type="text/css"/">    
    
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet" type="text/css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{% url 'doctor' %}" class="logo"><b>Heath Doctor Patient App</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                   
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="{% url 'doctor' %}">Logout</a></li>
              </ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="{% url 'doctor' %}"><img src="{{ STATIC_URL }} img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Health</h5>
                    
                  <li class="mt">
                      <a class="active" href="{% url 'doctor' }">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="{% url 'doctor' %}" >
                          <i class="fa fa-desktop"></i>
                          <span>Doctor Panel</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{% url 'doctor' %}">Create New Patient new_patient</a></li>
                          <li><a  href="{% url 'doctor' %}">Update Patient update_patient</a></li>
                          <li><a  href="{% url 'doctor' % }">Create Notes create_notes</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="{% url 'doctor' %}" >
                          <i class="fa fa-cogs"></i>
                          <span>Patient</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{% url 'doctor' %}">Profile patient_profile</a></li>
                          <li><a  href="{% url 'doctor' %}">Update Profile update_patient_profile</a></li>
                          <li><a  href="{% url 'doctor' %}">Notes from Doctor notes_patient_view</a></li>
                      </ul>
                  </li>
                 
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->


       <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">


            <a href="{% url 'patient' %}" class="top-menu"><span class="glyphicon">Patient</span></a>

            <a href="{% url 'doctor' %}" class="top-menu"><span class="glyphicon">Doctor</span></a>

            <a href="{% url 'admin' %}" class="top-menu"><span class="glyphicon">Admin</span></a>

                     {% block content %}

                    {% endblock %}
                </div>
            </div>
       </section>
       </section>


      {% block two %}{% endblock %}

  </body>
</html>
